.cor1 {
  background-color: yellow;
  color: black;
}

.cor2 {
  background-color: pink;
  color: black;
}

.cor3 {
  background-color: #f13f04;
  color: white;
}

body {
  background-color: #f5df70;
}